GGD Matt Halpern Signature Pack KONTAKT
GGD PV Matt Halpern Signature Pack KONTAKT
Getgood Drums One Kit Wonder Metal KONTAKT
output

# Build artifacts
plugin/src/*.o
plugin/third_party/cjson/*.o
plugin/third_party/mingw-cairo/build/
plugin/third_party/mingw-cairo/linux-sysroot/
plugin/third_party/mingw-cairo/sysroot/
